/* 
    Author: Grzegorz Dryja
*/

.timer{
    background-color: #4ce600;
    width: 400px;
    height: 20px;
    padding: 4px;
    /*position: ;  Was fixed but this cover first one*/
    top: 50px; /* bottom */
    right: 15px;
}

.blink{
    background-color: #ffee00;
}

.main{    
    float: left;
}

.button{
    width: 28px;
    padding-left: 5px;
}

.name{
    background-color: rgb(199, 250, 110);
    border: none;
    margin: 1px 2px;
}

