/* 
    Author: Grzegorz Dryja
*/

button {
    width: 120px;    
}
div.input {
    display: table;
    float: left;
}
textarea.box {
    resize: none; /* Dosn't work in Chrome */
}
.center {
  margin: auto;
}

